<h2>Edit <%= @unicorn.name %> Listing</h2>
<%= simple_form_for @unicorn do |f| %>
  <%= f.input :name %>
  <%= f.input :gender %>
  <%= f.input :age %>
  <%= f.input :color %>
  <%= f.input :price %>
  <%= f.select :variety, collection: Unicorn::VARIETY %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Update Listing' %>
<% end %>

<%= link_to 'Back to My Listings', my_listings_path %>
