<div class="container mt-5">
  <div class="row">
    <% @unicorns.each do |unicorn| %>
      <div class="col-3">

        <%= link_to unicorn_path(unicorn), class: "text-decoration-none" do %>
          <div class="unicorn-card mb-5">
            <%# add the image from cl with unicorn.photo.key %>
            <img src="https://res.cloudinary.com/dpfoq3knh/image/upload/v1692728793/unicorn_ivdrjs.jpg" class="card-img-top" alt="...">
            <div class="car-body">
              <div class= "unicorn-card-text">
                <div class="unicorn-key-info">
                  <h5 class="card-title"><%= unicorn.name.capitalize %></h5>
                  <div class = unicorn-price-container>
                    <p class="card-text"> <span class="price-bold"> $<%= unicorn.price %></span> per week</p>
                  </div>
                </div>
                <div class="unicorn-description">
                  <p class="card-text"><%= unicorn.gender.capitalize %>
                  <p class="card-text"><%= unicorn.age %> <%= unicorn.age == 1 ? "year" : "years" %> old</p>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
