<div class="container mt-5">
  <div class="row">
    <% @unicorns.each do |unicorn| %>
      <div class="col-3">

        <%= link_to unicorn_path(unicorn), class: "text-decoration-none" do %>
          <div class="card mb-5" style="width: 18rem;">
            <%# add the image from cl with unicorn.photo.key %>
            <img src="https://res.cloudinary.com/dpfoq3knh/image/upload/v1692728793/unicorn_ivdrjs.jpg" class="card-img-top" alt="...">
            <div class="car-body p-3">
              <h5 class="card-title"><%= unicorn.name.capitalize %></h5>
              <p class="card-text">
                <%= unicorn.gender %>
                <%= unicorn.age %>
                <%= unicorn.color %>
                <%= unicorn.price %>
                <%= unicorn.variety %>
              </p>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
  </div>
</div>
