<h2>Add your unicorn</h2>
<%= simple_form_for([@user, @unicorn]) do |f| %>
  <%= f.input :name %>
  <%= f.input :gender, collection: Unicorn::GENDER%>
  <%= f.input :age %>
  <%= f.input :color, collection: Unicorn::GENDER %>
  <%= f.input :price, collection: Unicorn::PRICE%>
  <%= f.input :variety, collection: Unicorn::VARIETY %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Create Listing' %>
<% end %>
