<h2>Add your unicorn</h2>
<%= simple_form_for([@user, @unicorn]) do |f| %>
  <%= f.input :name %>
  <%= f.input :gender %>
  <%= f.input :age %>
  <%= f.input :color %>
  <%= f.input :price %>
  <%= f.select :variety, collection: Unicorn::VARIETY %>
  <%= f.input :photo, as: :file %>
  <%= f.submit 'Create Listing' %>
<% end %>

<%= link_to 'Back to my unicorns', my_listings_path %>
