<div class="container">
  <div class="d-flex justify-content-center m-5">
    <h1>My listings</h1>
  </div>

  <% if @unicorns.any? %>
    <div class="listings-wrapper">
      <% @unicorns.each do |unicorn| %>
        <div>
          <div class="my-reservation-card mb-2">
            <% if unicorn.photo.key.nil? %>
              <%= image_tag "unicorn_placeholder.jpg", class: "card-img-top"%>
            <% else %>
              <%= cl_image_tag unicorn.photo.key, class: "card-img-top", alt: "A photo of this unicorn" %>
            <% end %>
            <h5 class="card-title"><%= unicorn.name.capitalize %></h5>
            <p class="card-text"> Gender: <%= unicorn.gender %></p>
            <p class="card-text"> Age: <%= unicorn.age %></p>
            <p class="card-text"> Color: <%= unicorn.color %></p>
            <p class="card-text"> Variety: <%= unicorn.variety %></p>
            <p class="card-text"> price: <%= unicorn.price.to_i %> $</p>
          </div>
          <% if current_user == unicorn.user %>
            <div class="edit-action">
              <%= link_to 'Edit Listing', edit_unicorn_path(unicorn) %>
            </div>
            <div class="delete-action">
              <%= link_to 'Delete Listing', unicorn_path(unicorn), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
            </div>
          <% end %>
          </div>
        <% end %>

    <% else %>
      <p>You have no unicorns yet!</p>
    <% end %>
  </div>
</div>
