
<h1><%= @unicorn.name %></h1>
<div class="container">
  <div class="card">
    <div class ="photo-row">
    <div class="col-md-6">
     <% if @unicorn.photo.key.nil? %>
      <%= image_tag "unicorn-logo.png", class: "rounded", alt: "A photo of this unicorn", width: 300 %>
    <% else %>
      <%= cl_image_tag @unicorn.photo.key, class: "rounded", alt: "A photo of this unicorn", width: 300 %>
      <% end %>
    <h1 class="card-title"><%= @unicorn.name %></h1>
  <div class="card-body">
  <p class="d-flex justify-content-between p-price"><strong>Gender:</strong> <%= @unicorn.gender %></p>
  <p class="d-flex justify-content-between p-gender"><strong>Age:</strong> <%= @unicorn.age %></p>
  <p class="d-flex justify-content-between p-price"><strong>Color:</strong> <%= @unicorn.color %></p>
  <p class="d-flex justify-content-between p-price"><strong>Price:</strong> <%= number_to_currency(@unicorn.price) %></p>
  <p class="d-flex justify-content-between p-price"><strong>Variety:</strong> <%= @unicorn.variety %></p>
  </div>

<div>
  <h5>Rent this unicorn</h5>
  <p>When do you want the unicorn to be delivered ?</p>
  <%= simple_form_for([@unicorn, @reservation]) do |f| %>
    <%= f.input :date,
            as: :string,
            input_html: { data: { controller: "datepicker" } } %>
    <%= f.submit "Rent my unicorn !", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="suggested-unicorn-card">
  <div class="row mt-4">
    <div class="col-md-6">
<%# PU did: OPTIONAL thought would be cool to suggest others %>
  <h2>Check out more Unicorns!</h2>
  <ul class="list-unstyled">
    <% @unicorns.each do |unicorn| %>
      <li><%= link_to unicorn.name, unicorn_path(unicorn) %></li>
    <% end %>
  </ul>
    </div>

<%= link_to 'All Unicorns', unicorns_path, class: "btn btn-primary" %>
