<h2><%= @unicorn.name %></h2>
<div class="show-container">
  <% if @unicorn.photo.key.nil? %>
    <%= image_tag "unicorn_placeholder.jpg" %>
  <% else %>
    <%= cl_image_tag @unicorn.photo.key%>
  <% end %>
  <div class="show-unicorn-info">
    <div class="show-unicorn-info-tags">
      <div class="tag">
        <p>Gender</p>
        <%= @unicorn.gender %>
      </div>
      <div class="tag">
        <p>Age</p>
        <%= @unicorn.age %>
      </div>
      <div class="tag">
        <p>Gender</p>
        <%= @unicorn.gender %>
      </div>
      <div class="tag">
        <p>Color</p>
        <%= @unicorn.color %>
      </div>
      <div class="tag">
        <p>Variety</p>
        <%= @unicorn.variety %>
      </div>
      <div class="tag">
        <p>Price</p>
        <span class="gradient"><%= number_to_currency(@unicorn.price) %></span>
      </div>
    </div>
  </div>
</div>

<div class="rent-unicorn">
  <span class="gradient"><h5>Interested in this unicorn ?</h5></span>
  <p>Rent it now ! Decide when you want to get it :</p>
  <div class="rent-form">
    <%= simple_form_for([@unicorn, @reservation]) do |f| %>
      <%= f.input :date,
              as: :string,
              input_html: { data: { controller: "datepicker" }, class: "date-input" }
              %>
      <%= button_tag(type: 'submit', class: "button") do %>
        Rent your <span class="gradient">unicorn</span> !
      <% end %>
    <% end %>
  </div>
</div>
<%# <span class="gradient">unicorn</span> %>

<div class="unicorn-suggestion">
  <h2>Check out for more Unicorns !</h2>

  <div class="iteration">
    <% @unicorns.each do |unicorn| %>
      <div class="unicorn-cards-info">
        <%= image_tag "business.png"%>
        <div class="tags">
          <h5><%= unicorn.name %></h5>
          <p><%= unicorn.age %>, <%= unicorn.color %>, ...<p>
        </div>
        <%= link_to "See this unicorn", unicorn_path(unicorn) %>
      </div>
    <% end %>
  </div>

<%= link_to 'See all our unicorns', unicorns_path, class: "button" %>
</div>
