<h1 class= "incoming-reservations">Incoming Reservations</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th><span class="gradient">Unicorn</span></th>
      <th>Date</th>
      <th>Approved</th>
      <th>Accept Reservation</th>
    </tr>
  </thead>
  <tbody>
  <% @reservations.each do |reservation|%>
    <tr>
      <td><%= reservation.user.first_name %></td>
      <td><%= reservation.unicorn.name %></td>
      <td><%= reservation.date %></td>
      <td><%= reservation.approved ? 'Yes' : 'No' %></td>
      <td>
        <% if reservation.approved.nil? %>
          <%= link_to accept_reservation_path(reservation), data: { turbo_method: :patch }, class: 'btn btn-success' do %>
            <i class="fas fa-check"></i> Accept
          <% end %>
          <%= link_to decline_reservation_path(reservation), data: { turbo_method: :patch },  class: 'btn btn-danger' do %>
            <i class="fas fa-times"></i> Decline
          <% end %>
        <% else %>
          <%= reservation.approved ? 'Approved' : 'Declined' %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
