<div class="container mt-5">
  <div class="d-flex justify-content-center">
    <h1>My reservations</h1>
  </div>

  <div class="row">
    <% if @reservations.any? %>

      <% @reservations.each do |reservation| %>
        <div class= "col-3">
          <div class="my-reservation-card mb-5">
            <% if reservation.unicorn.photo.key.nil? %>
              <%= image_tag "unicorn_placeholder.jpg", class: "card-img-top"%>
            <% else %>
              <%= cl_image_tag reservation.unicorn.photo.key, class: "card-img-top", alt: "A photo of this unicorn" %>
            <% end %>
            <h5 class="card-title"><%= reservation.unicorn.name.capitalize %></h5>
            <p class="card-text"> Rented from: <%= reservation.date %></p>
            <p class="card-text"> Owner: <%= reservation.unicorn.user.first_name %></p>
            <p class="card-text">
            <% if reservation.approved %>
              <p class="card-text" style="color:green">
                <%= "Status: Confirmed" %>
              </p>
            <% elsif reservation.approved == false %>
              <p class="card-text" style="color:red">
                <% "Status: Declined" %>
              </p>
            <% else %>
              <p class="card-text" style="color:gray">
                <%= "Status: Pending confirmation" %>
              </p>
            <% end %>
          </div>
        </div>
      <% end %>

    <% else %>
      <p>You have no reservations yet!</p>
    <% end %>
  </div>
</div>
